@tailwind base;
@tailwind components;
@tailwind utilities;

html {
  font-family: "Kreon";
}

.active {
  background-color: #bec6a0;
  color: #606676;
}

.transitionMenu{
  transition: all 1s ease-in-out;
}

.transitionMenuUser{
  transition: all 2s ease-in-out;

}
